/*COMMONS*/
[class*=col] {
    background-color: #006cfa;
    min-height: 30px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 30px;
    color: #fff;
}
/*columns style*/
.col.nest {
    background-color: #00e165;
    border: 1px solid #006cfa;
    width: 100%;
}
.col-6 > .row {
    padding: 10px;
}